<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>Table Page</title>
</head>

<body>
    <header class="header">
        <div class="title">
            Ahmdfdhilah <span class="purple">Blogs</span></div>
        <div class="logo">
            <img src="../asset/logo.png" alt="fadil">
        </div>
    </header>
    <div class="body">
        <input type="checkbox" id="toggleSidebar" class="toggle-checkbox">
        <label for="toggleSidebar" class="hamburger-btn">
            <i class="fas fa-bars"></i>
        </label>
        <div class="sidebar">
            <div class="navbar">
                <li><a href="../index.html" class="menu">Home Page</a></li>
                <li><a href="./formPage.html" class="menu">Form Page</a></li>
            </div>
        </div>

        <div class="content table">
         
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2023 Ahmdfdhilah</p>
        <div class="footer-social-icons">
            <a href="https://instagram.com/ahmdfdhilahhh" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/Ahmdfdhilah121140173" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://wa.me/089647107815" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../script/table.js"></script>
</body>
</html>